<ul class="topbar">
	<a href="/about_me"><li><u>A</u>bout</li></a>
	<a href="https://github.com/clararehmann" target="_blank"><li><u>G</u>itHub</li></a>
	<a href="https://www.linkedin.com/in/clara-rehmann-9ab200273/" target="_blank"><li><u>L</u>inkedIn</li></a>
	<a href="http://twitter.com/ramencult" target="_blank"><li><u>T</u>witter</li></a>
	<a href="https://scholar.google.com/citations?user=6Va6plsAAAAJ&hl=en" target="_blank"><li><u>G</u>oogle Scholar</li></a>
	<a href="mailto:crehmann@uoregon.edu" target="_blank"><li><u>E</u>mail</li></a>
</ul>
