---
layout: default
---

{{ content }}

<div class="wrapper">
	{% include topbar.html %}
		<div class="tag_list">
			<ul id="tag-list">
				<li><a href="/" ><img src="/assets/img/apple.png"  width="100" height="100" /> ~/home/ </a>
			<ul>
				<!-- sidebar links -->
				{% for item in site.data.settings.menu %}
							<li> <a href="{{site.github.url }}{{ item.url }}"><img src="/assets/img/file.ico" width="25" height="25" title="{{ item.name }}" />{{ item.name }}</a></li>
  				{% endfor %}

				<li> <a href="{{site.github.url }}/etc"><img src="/assets/img/folder.ico" width="25" height="25" title="etc" />{{"etc"}}</a></li>
		</div>
		<div class="post_list">
			<ul>   
   		{% for item in site.data.settings.etc %}
			<li> <a href="{{site.github.url }}{{ item.url }}"><img src="/assets/img/folder.ico" width="25" height="25" title="{{ item.name }}" />{{ item.name }}</a></li>
    		{% endfor %}
  	</ul>
	</div
</div>
